<div>
  <header>
    <nav style="display: flex; justify-content: center; width: 100%; align-items: center; background-color: #c63c3c; color: #fff; padding: 10px;">
      <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
        {{#if session.user}}
          <li style="margin: 0 10px;"><a href="/current" style="color: #fff; text-decoration: none;">{{session.user.first_name}}</a></li>
          <li style="margin: 0 10px;"><a href="/api/carts/{{session.user.cartID}}" style="color: #fff; text-decoration: none;">Cart</a></li>
          <li style="margin: 0 10px;"><a href="/logout/logout" style="color: #fff; text-decoration: none;">Logout</a></li>
        {{else}}
          <li style="margin: 0 10px;"><a href="/signup" style="color: #fff; text-decoration: none;">Signup</a></li>
          <li style="margin: 0 10px;"><a href="/login" style="color: #fff; text-decoration: none;">Login</a></li>
        {{/if}}
        <li style="margin: 0 10px;"><a href="/products" style="color: #fff; text-decoration: none;">Products</a></li>
        <li style="margin: 0 10px;"><a href="/chat" style="color: #fff; text-decoration: none;">Chat</a></li>
      </ul>
    </nav>
  </header>
  <body>
    {{{body}}}
  </body>
</div>


<script src="/socket.io/socket.io.js" type="application/javascript"></script>
<script src="/js/chat.js" type="application/javascript"></script>
<script src="/js/login&Signup.js" type="application/javascript"></script>
<script src="/js/logout.js" type="application/javascript"></script>
<script src="/js/forgotPassword.js" type="application/javascript"></script>
<script src="/js/users.js" type="application/javascript"></script>
<script src="/js/resetPassword.js" type="application/javascript"></script>
<script src="/js/userRole.js" type="application/javascript"></script>
<script src="/js/adminRol.js" type="application/javascript"></script>
<script src="/js/products.js" type="application/javascript"></script>
<script src="/js/ticket.js" type="application/javascript"></script>
