
<div>
  <div class="chat-container">
    <div class="chat-header" style="background-color: #c63c3c; color: white; padding: 10px;">
      <h2>Mi chat</h2>
    </div>

    <div class="chat-window" style="border: 1px solid #c63c3c; padding: 10px; height: 300px; overflow-y: scroll;">

      <div id="messageLogs"></div>

    </div>

    <div class="chat-input-container" style="padding: 10px;">
      <input
        type="text"
        placeholder="Escribe un mensaje..."
        name="message"
        id="chatBox"
        style="width: 100%; padding: 5px; border: 1px solid #c63c3c; border-radius: 5px;"
      />
    </div>
  </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
