<div style="display: flex; flex-direction: column; align-items: center;">
    <h1 style="margin-bottom: 20px;">Restablecer contrase単a</h1>
    <form action="/reset/:token" method="post" style="display: flex; flex-direction: column; align-items: center;">
        
        <label for="email" style="margin-bottom: 10px;">Email de Usuario</label>
        <input type="email" name="email" id="email" style="margin-bottom: 20px; padding: 5px;">
        <label for="password" style="margin-bottom: 10px;">Nueva contrase単a:</label>
        <input type="password" name="Newpassword" id="password" style="margin-bottom: 20px; padding: 5px;">
        <label for="repeatPassword" style="margin-bottom: 10px;">Confirmar contrase単a:</label>
        <input type="password" name="repeatNewPassword" id="repeatPassword" style="margin-bottom: 20px; padding: 5px;">
        <button id="restablecer" type="submit" style="padding: 10px; background-color:  #c63c3c; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Restablecer contrase単a</button>
    </form>
</div>


